@use 'reset.scss';
@use 'color.scss' as color;
@use 'typography.scss' as type;



.email-signup {

  &__hero {
    border-radius: 0px 0px 0.5rem 0.5rem;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: color.$blue-800;

    @include type.text-preset-2--regular;

    h1 {
      
      @include type.text-preset-1;
    }

    ul {

    }
  }
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    @include type.text-preset-3;
  }

  input {
    padding: 1rem;
    border: 1px solid color.$grey;
    border-radius: 0.5rem;
  }

  button {
    background-color: color.$blue-800;
    color: color.$white;
    border-radius:0.5rem;
    padding:1rem;
    border:none;
    
    @include type.text-preset-2;
  }
}